* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", "Prata", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  background-color: #181818;
  color: #ffffff;
}

.container {
  padding: 48px 96px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-family: "Prata", "inter", sans-serif;
  font-weight: lighter;
}

nav {
  display: inherit;
  gap: 48px;
}

nav div a {
  text-decoration: none;
  color: #aeaeae;
}

nav div a:hover {
  color: #ffffff;
}

button {
  font-size: 18px;
  font-family: "Prata", "inter", sans-serif;
  background-color: #fbe850;
  padding: 16px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #ffe628;
}

header h1 {
  font-family: "Prata", "inter", sans-serif;
  margin-top: 86px;
  max-width: 800px;
  font-size: 62px;
  font-weight: lighter;
}

header p {
  color: #aeaeae;
  max-width: 750px;
  margin-top: 14px;
}

.feature {
  display: flex;
  justify-content: space-between;
}

.pics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
}

.pics div img {
  width: 100%;
  object-fit: cover;
}

.pics h2,
p {
  margin-top: 8px;
}

.pics p {
  color: #aeaeae;
}

.menu svg {
  height: 50px;
  width: 50px;
}

.menu {
  display: none;
}

.idk {
  background-color: #3b3b3b;
  columns: 450px auto;
  gap: 62px;
}

.idk p {
  color: #aeaeae;
  margin-top: 32px;
}

.interested p {
  color: #aeaeae;
  max-width: 400px;
  margin-bottom: 18px;
}

footer {
  background-color: #3b3b3b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: inherit;
  gap: 22px;
}

.pics h2,
.idk h2,
.interested h2 {
  font-family: "prata", "inter", sans-serif;
  font-weight: lighter;
  font-size: 32px;
}
